<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>品牌评分与情感分析</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <!-- 顶部区域 -->
        <div class="row">
            <div class="col text-center">
                <h1>品牌评分与情感分析</h1>
                <h5>基于用户反馈的品牌评分和情感分布</h5>
            </div>
        </div>
        <hr>

        <!-- 中间区域 -->
        <div class="row">
            <div class="col">
                <img src="photo/brand_ratings_distribution.png" class="img-fluid" alt="Brand Ratings Distribution">
            </div>
            <div class="col">
                <img src="photo/brand_sentiment_distribution.png" class="img-fluid" alt="Brand Sentiment Distribution Comparison">
            </div>
            <div class="col">
                <img src="photo/average_ratings.png" class="img-fluid" alt="Average Ratings by Brand">
            </div>
        </div>
        <hr>

        <!-- 左侧高频词分析 -->
        <div class="row">
            <div class="col">
                <img src="photo/top_words_oneplus.png" class="img-fluid" alt="OnePlus Top Words">
            </div>
            <div class="col">
                <img src="photo/top_words_vivo.png" class="img-fluid" alt="Vivo Top Words">
            </div>
            <div class="col">
                <img src="photo/top_words_redmi.png" class="img-fluid" alt="Redmi Top Words">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="photo/top_words_apple.png" class="img-fluid" alt="Apple Top Words">
            </div>
            <div class="col">
                <img src="photo/top_words_huawei.png" class="img-fluid" alt="Huawei Top Words">
            </div>
            <div class="col">
                <img src="photo/top_words_all_brands.png" class="img-fluid" alt="All Brands Top Words">
            </div>
        </div>
        <hr>

        <!-- 底部区域 -->
        <div class="row">
            <div class="col text-center">
                <h5>总结和结论</h5>
            </div>
        </div>
    </div>
</body>
</html>
